*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;   
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1vmin #991b1b;
    font-size: 10vmin;
    color: black;
    cursor: pointer;
    background-color:#44fc ;
}
#reset-btn{
    padding: 1 rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border: none;
    border-radius: 0.2rem;
    width: 30vmin;
    height: 30px;
}
#newGame-btn{
     padding: 1 rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border: none;
    border-radius: 0.2rem;
    width: 30vmin;
    height: 30px;

}
#msg{
    color:#ffffc7;
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
}
.hide{
    display: none;
}